<div id="root">

{{modifyPlayerName}}
<br>



<!-- ADD NEW PLAYER TO ARRAY -->


<h2>Player</h2>
<!-- KEY EVENTS -->
<input type="text" v-model="newName" v-on:keyup.enter=addPlayer >
<input type="text" v-model="newClub" >
<!-- WE CAN USE @ INSTEAD OF V-ON BOTH DOES SAME JOB -->
<button @click="addPlayer">Add</button>
<ol>
  <!-- USING FOR LOOP -->
  <li v-for="player in players">
  <!-- USING FILTERS METHOD TO MODIFY DATA -->
  {{player.name | capitalize}} <span> {{player.club}} </span></li>
</ol>






<!--LOOPING IN VUE -->
<h2>Cats</h2>
<ol>
  <!-- USING FOR LOOP -->
  <li v-for="cat in cats">{{cat}}</li>
</ol>









  <h1>{{greeting}}</h1>
  <input v-model="greeting" />
  <!-- The directive v-if is used to conditionally render a block. -->
  
  <p v-once>{{greeting}}</p>
  <p >{{greeting}}</p>
  
  <!-- tHIS IS VALUE OF EMAIL DATA -->
  <p v-text="email"></p>
  
  <!-- WRITE SOMETHING IN HTML TAG THAT WOULD BE VALUE IN HERE -->
  <p v-html="email"></p>
  
  {{email}}
  <div v-if="count === 1">
    Green
  </div>
  <div v-else-if="count === 0">
    Red
  </div>
  <div v-else>
    Orange
  </div>
  
  
  <div v-show="count===1">
    Yellow
  </div>
  
  
  <br>
  <div>
    <h1>Sign up</h1>
    <input placeholder="email" type="email" v-model="email">
    <input placeholder="name" type="text" :class="{red: email.length < 2}" >
    <input placeholder="location" type="text" :class="[email.length < 2 ? 'red' : 'green' ]" >
    
    <button onclick="alert('sign up')" :disabled="email.length < 2" >Submit</button>
  </div>
  <br>
  <br>
  <br>
</div>